* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #ef5555;
  --text-color: #2b3252;
  --white: #ffffff99;
  --container-color: #f8f8fa;
  --black: #000000;
  --transition: linear-gradient(
    205.96deg,
    rgba(67, 26, 26, 0) -7.14%,
    #431a1a 121.86%
  );
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-seeMore {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background: transparent;
  color: white;
  padding: 10px 18px;
  border: 1px solid white;
  border-radius: 8px;

  embed {
    padding-left: 11px;
  }

  @media screen and (max-width: 660px) {
    font-size: 10px;
    padding: 8px 10px;

    embed {
      padding-left: 5px;
      width: 18px;
    }
  }

  @media screen and (max-width: 560px) {
    font-size: 8px;
    padding: 6px 8px;

    embed {
      width: 14px;
    }
  }
}

.title {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  color: var(--black);

  @media screen and (max-width: 560px) {
    font-size: 30px;
    line-height: 39px;
  }

  @media screen and (max-width: 460px) {
    font-size: 20px;
    line-height: 29px;
  }
}
