/* ----------------- HEADER --------------- */
.header {
  padding: 56px 250px;
  align-items: center;

  @media screen and (max-width: 1700px) {
    padding: 56px 150px;
  }

  @media screen and (max-width: 1400px) {
    padding: 50px;
  }

  @media screen and (max-width: 660px) {
    padding: 30px;
  }
}

.logo {
  width: 207px;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;

  @media screen and (max-width: 770px) {
    font-size: 14px;
    line-height: 18px;
    justify-content: center;
    gap: 20px;

    embed {
      width: 30px;
    }
  }
}

.burger-menu {
  display: none;
}

.burger {
  width: 25px;
  height: 3px;
  background-color: var(--black);
  margin: 4px 0;
}

.menu {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  gap: 50px;

  li {
    position: relative;
    padding-bottom: 3px;

    img {
      opacity: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 100%;
    }
  }

  li:hover {
    color: var(--red);
    cursor: pointer;

    img {
      opacity: 100;
    }
  }

  @media screen and (max-width: 1200px) {
    gap: 20px;
  }

  @media screen and (max-width: 760px) {
    li:hover {
      color: var(--red);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 50px;

    @media screen and (max-width: 530px) {
      padding: 20px;
    }
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    display: none;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--green);
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    background-color: var(--white);
    border: 1px solid var(--text-color);
    border-radius: 8px;
    padding: 30px;
  }

  .menu.show {
    display: flex;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.search {
  input {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaecf0;
    color: var(--text-color);
    cursor: pointer;

    @media screen and (max-width: 660px) {
      display: none;
    }
  }
}

/* ---------------- MAIN SECTION -------------- */
/* --------  SERVICES ------ */

.first-service {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  p,
  button {
    position: absolute;
    left: 15%;
  }
}

.first-service--btn {
  top: 75%;
}

.first-service--img {
  position: relative;
  margin: 0px 100px;
  width: 100vw;
  background: var(--transition);
}

.first-service--title {
  color: white;
  width: 736px;
  width: 50%;
  text-transform: uppercase;
  font-size: 62px;
  font-weight: 700;
  line-height: 76px;
  top: 40%;

  @media screen and (max-width: 1600px) {
    font-size: 54px;
    line-height: 64px;
  }

  @media screen and (max-width: 1340px) {
    font-size: 48px;
    line-height: 54px;
    width: fit-content;
  }

  @media screen and (max-width: 1100px) {
    font-size: 40px;
    line-height: 50px;
  }

  @media screen and (max-width: 900px) {
    font-size: 34px;
  }

  @media screen and (max-width: 770px) {
    font-size: 18px;
  }

  @media screen and (max-width: 560px) {
    font-size: 14px;
  }
}

.first-service--description {
  color: var(--white);
  width: 736px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  top: 60%;

  @media screen and (max-width: 1140px) {
    font-size: 14px;
    line-height: 18px;
    width: 70%;
  }

  @media screen and (max-width: 900px) {
    top: 58%;
    font-size: 10px;
    line-height: 18px;
    width: 70%;
  }

  @media screen and (max-width: 660px) {
    font-size: 6px;
    line-height: 10px;
  }

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.services--title {
  padding-bottom: 97px;

  @media screen and (max-width: 760px) {
    padding-bottom: 30px;
  }
}

.services {
  padding: 84px 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 660px) {
    padding: 40px;
  }
}

.service-items {
  gap: 50px;

  @media screen and (max-width: 1300px) {
    gap: 20px;
  }

  @media screen and (max-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 0;

    embed {
      width: 50px;
    }
  }

  @media screen and (max-width: 560px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-name {
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  width: 440px;
  display: flex;
  justify-content: center;
  padding: 38px 0px;
  color: var(--black);

  @media screen and (max-width: 760px) {
    font-size: 24px;
    padding: 0;
  }

  @media screen and (max-width: 460px) {
    font-size: 12px;
  }
}

.icon-container {
  background-color: var(--container-color);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 460px) {
    width: 80px;
    height: 80px;

    embed {
      width: 30px;
    }
  }
}

/* ----------- NEWS ----------- */
.news {
  background-color: var(--container-color);
  padding: 94px 0px 150px 0px;
  width: 100vw;
  height: 950px;
  overflow: hidden;

  @media screen and (max-width: 1200px) {
    height: fit-content;
    padding: 50px;
  }

  @media screen and (max-width: 760px) {
    height: auto;
    padding: 30px;
  }
}

.news--header {
  display: flex;
  justify-content: space-between;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 28px;
  padding-right: 250px;

  img {
    opacity: 0.2;
  }

  button {
    height: fit-content;
  }

  img:hover {
    opacity: 1;
  }

  @media screen and (max-width: 900px) {
    padding-right: 60px;
  }
}

#arrow1,
#arrow2 {
  border: none;
  background-color: var(--container-color);
}

.news--title {
  align-items: left;
  padding: 94px 0px 87px 250px;

  @media screen and (max-width: 1440px) {
    padding-left: 100px;
  }

  @media screen and (max-width: 740px) {
    padding: 60px;
  }
}

.cards {
  gap: 50px;
  margin-left: 250px;

  @media screen and (max-width: 1440px) {
    margin-left: 100px;
  }

  @media screen and (max-width: 740px) {
    margin-left: 60px;
  }
}

.card--item {
  max-height: 560px;
  position: relative;

  img {
    max-width: 440px;

    @media screen and (max-width: 520px) {
      max-width: 200px;
    }
  }

  button,
  p {
    position: absolute;
    left: 40px;

    @media screen and (max-width: 520px) {
      left: 20px;
    }
  }
}

.card__title {
  overflow: hidden;
  width: 360px;
  height: fit-content;
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  color: white;
  width: 360px;
  top: 273px;
  z-index: 2;

  @media screen and (max-width: 520px) {
    width: 70%;
    font-size: 16px;
    line-height: 20px;
    top: 40%;
  }
}

.card__date {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: white;
  top: 414px;
  z-index: 2;

  @media screen and (max-width: 520px) {
    top: 70%;
  }
}

.news--btn {
  top: 468px;
  z-index: 2;

  @media screen and (max-width: 520px) {
    top: 80%;
  }
}

.background-image {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.front-image {
  position: relative;
  z-index: 1;
}

.card--item:hover .background-image {
  opacity: 1;
}

.linear {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: linear-gradient(
    205.96deg,
    rgba(67, 26, 26, 0) -7.14%,
    #431a1a 121.86%
  );
}

/* ----------- ABOUT ----------- */
.about {
  position: relative;
  margin: 150px 250px 145px;
  gap: 90px;

  @media screen and (max-width: 1440px) {
    margin: 100px;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    margin: 100px;
  }

  @media screen and (max-width: 600px) {
    gap: 40px;
  }
}

.about--img {
  width: 590px;
  z-index: 1;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.about--img--background {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 10px;

  @media screen and (max-width: 1500px) {
    top: 80px;
  }

  @media screen and (max-width: 1440px) {
    top: 20px;
  }

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.about--text {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.about--description {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  width: 600px;

  @media screen and (max-width: 1600px) {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.about--btn {
  color: var(--red) !important;
  border: 1px solid var(--red) !important;
  width: 130px;
  margin-top: 10px;
}

/* ---------------- FOOTER ------------------- */
.footer {
  background-color: var(--text-color);
  height: 330px;
  padding: 80px 250px 68px;
  width: 100vw;

  @media screen and (max-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    height: fit-content;
  }

  @media screen and (max-width: 1200px) {
    padding: 60px 100px;
  }

  @media screen and (max-width: 1040px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 530px) {
    padding: 20px;
  }
}

.footer--logo--container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.footer--logo {
  color: white;
  display: flex;
  gap: 25.47px;
  align-items: center;

  p {
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
  }

  @media screen and (max-width: 770px) {
    gap: 20px;

    p {
      font-size: 14px;
      line-height: 18px;
      justify-content: center;
    }

    embed {
      width: 30px;
    }
  }
}

.copyright {
  color: rgba(255, 255, 255, 0.7);
  width: fit-content;
}

.footer--list {
  color: white;
  gap: 50px;

  li {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }

  @media screen and (max-width: 530px) {
    gap: 20px;

    li {
      display: none;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 42px;

  img {
    width: 82.03px;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  position: relative;

  div {
    display: flex;
    gap: 20px;
  }

  @media screen and (max-width: 530px) {
    div {
      display: flex;
      flex-direction: column;
    }
  }
}

.input {
  background: transparent;
  width: 230px;
  padding: 11px 0px 11px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;

  @media screen and (max-width: 530px) {
    width: 100%;
  }
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 11px;
  left: 20px;
}

.input--text {
  height: 120px;
  width: 480px;
  grid-row: 2;

  @media screen and (max-width: 530px) {
    width: 100%;
  }
}

.input--text::placeholder {
  top: 14px;
}

.submit--btn {
  background-color: var(--red);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: white;
  padding: 10px;
  border: 1px transparent;
  border-radius: 8px;
  width: 74px;
  position: absolute;
  top: 120px;
  left: 386px;

  @media screen and (max-width: 530px) {
    top: 78%;
    left: 58%;
  }
}
